*{

}
/*Type Selectors*/
body {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-image: url(../images/tenor.gif);
  background-size:  cover;
  background-color: rgba(0, 0, 0, 0.3);
  background-blend-mode: darken;
  color: white;
}

#link{
  text-decoration: none;
  font-size: 70px;
  color : white;
  font-weight: bold;
}



h1 {
  margin: 0 auto;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 48px;
  margin: 5%;
  text-shadow: 3px #48E5C2;
}

h2 {
  font-size: 36px;
  font-weight: lighter;
  margin: 0%;
  position: relative;
  top:-30px;
  color: #48E5C2;
  font-weight: bold;
  text-shadow: #333333;
}

h3 {
  position: relative;
  top:-5px;
  padding-bottom: 2%;

}

/*Class Selectors*/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  height: 100%;
  width: 100%;
  flex-direction: column;
}

.wrap {
  flex-wrap: wrap;
  height: 456px;
  width: 456px;
}

.square {
  background-color: #FCFAF9;
  border: 1px solid grey;
  font-size: 96px;
  height: 150px;
  line-height: 150px;
  user-select: none;
  width: 150px;
  color : grey;
}

.square:hover {
  background-color: powderblue;
  cursor: pointer;
}

.score_X{
font-size: 25px;
float: left;
position: relative;
left: 180px;
font-weight: bold;
}

.score_O{
font-size: 25px;
float: right;
position:relative;
right: 180px;
font-weight: bold;
}



/*ID Selectors*/
#reset-button {
  background-color: powderblue;
  border: 1px solid white;
  color: white;
  font-size: 21px;
  line-height: 55px;
  margin: 1%;
  text-align: center;
  width: 456px;
}

#reset-button:hover {
  background-color: powderblue;
  color: white;
  cursor: pointer;
}

#score_X{
  list-style-type: none;
}

#score_O{
    list-style-type: none;
}

#first_X{
  background-color: powderblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  color: white;
  font-weight: bold;
}

#first_O{
  background-color: powderblue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  position: relative;
  color:white;
  font-weight: bold;
}

#first_X:hover{
  cursor: pointer;
}

#first_O:hover{
  cursor: pointer;
}



#board{
  border-radius: 20px;
  border-top: 20px;
  border-bottom: 20px;
  border-left: 20px;
  border-right: 20px;
  border-style:  double;
  background-color: powderblue;
}
#go{
  color: white;
}
